<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
 
  <ul>
  	<li><%= link_to 'products', products_path%></li>
  	<li><%= link_to 'update_avatar', edit_avatar_path(@avatar) %></a></li>
  	<li><%= link_to 'con chua biet', '#' %></li>
  	<li><%= link_to 'cart', carts_path %></li>
  </ul>
  </div>

